<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo06</title>
</head>
<body>
    <h1>Ejemplo06</h1>
    <form action="" method="get">
        <label for="">INGRESE UN TEXTO:</label><br>
        <input type="text" name="entrada"><br>
        <button type="submit">ENVIAR</button>
    </form>
    <hr>
    {% if texto_procesado_plantilla %}
        <h2>Contenido del texto procesado:</h2>
        {{texto_procesado_plantilla}}
    {% else %}
        NO SE HA RECIBIDO RESPUESTA
    {% endif %}
</body>
</html>