{% load static %}
{% include 'encabezado.html' %}

<div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
          <tr>
          <th>Id</th>
          <th>Cedula</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Fecha nacimiento</th>
          <th>Direccion</th>
          <th>Accion</th>
          </tr>
      </thead>
      <tbody>

          {% for dato in datos %}
          <tr>
            <td>{{dato.id}}</td>
            <td>{{dato.cedula}}</td>
            <td>{{dato.nombre}}</td>
            <td>{{dato.apellido}}</td>
            <td>{{dato.fechanac}}</td>
            <td>{{dato.direccion}}</td>
            <td><a href="/persona_actualizar01/?id={{dato.id}}"><img id="img_actualizar" src="{% static 'img/actualizar.png' %}"></a></td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
</div>    

{% include 'pie.html' %}
