{% load static %}
{% include 'encabezado.html' %}
<h1>Reporte Api JSON</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Fecha de nacimiento</th>
        </tr>
    </thead>
    <tbody id="table_body"></tbody>
</table>
<div id="resultado"></div>

<script>
    mensaje = { datos:''};
    $.ajax({
        data:mensaje,
        url:'http://127.0.0.1:5000/persona_api_json/',
        type:'get',
        beforeSend:function(){
            $('#resultado').html('<div class="alert alert-warning"><strong>Atención: </strong>Procesando solicitud</div>')
        },
        success:function(response){
            const table_body = document.getElementById('table_body')
            if (response && response.datos && Array.isArray(response.datos)){
                response.datos.forEach(item => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${item.id}</td>
                        <td>${item.cedula}</td>
                        <td>${item.nombre}</td>
                        <td>${item.apellido}</td>
                        <td>${item.direccion}</td>
                        <td>${item.fechanac}</td>
                    `;
                    table_body.appendChild(row);
                });
            }else{
                table_body.innerHTML = '<tr><td colspan="6" class="text-center">No hay datos disponibles</td></tr>'
            }
            $('#resultado').html('<div class="alert alert-info"><strong>Atención: </strong>Solicitud procesada</div>')
        }
    })

</script>

{% include 'pie.html' %}

