        {% if mensaje %}
            {% if tipo == 1 %}
                <div class="alert alert-success mt-3">
                    <strong>Atencion:</strong>{{ mensaje}}
                </div>

            {% elif tipo == 2 %}
                <div class="alert alert-success mt-3">
                    <strong>Error:</strong>{{ mensaje}}
                </div>

            {% elif tipo == 3 %}
                <div class="alert alert-success mt-3">
                    <strong>Alerta:</strong>{{ mensaje}}
                </div>


            {% endif %}
        
        {% endif %}

        </div>
    </body>
</html>