#img_borrar{
    width: 30px;
    height: 30px;
}
#img_borrar:hover{
    box-shadow: 3px 3px 5px red;
}

#img_actualizar{
    width: 30px;
    height: 30px;
}
#img_actualizar:hover{
    box-shadow: 3px 3px 5px orange;
}