<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejemplo3</title>
  <style>
    *{
        font-family: Arial, Helvetica, sans-serif;
    }
    h1,h2,h3{
        text-align: center;
    }
    h1{
        background-color: #cccccc;
        color: blue;
        padding: 20px;
        border-style: solid;
        border-width: 2px;
        border-radius: 25px;
        width: 50%;
        margin-left: 25%;
    }
  </style>
</head>
<body>
    <h1>Ejemplo3</h1>
    <h2>Uso de plantillas en Flask</h2>
    <h3>Enlace de interes</h3>
    <ul>
        <!--
        Las de lineas de instruccion a continuacion son del manejador de
        de plantillas jnja
        https://jinja.palletsprojects.com/en/stable/
        -->
        {% for nombre, enlace in lista %}
            <li><a href="{{enlace}}" target="_blank">{{nombre.capitalize()}}</a></li>
        {% endfor %}
    </ul> 
</body>
</html>